.player-container.theme {
    --font-family: inherit;
    /* colors */
    --text-color: #000;
    --background-color: #fff;
    --border-color: rgba(0, 0, 0, 0.2);
    --playback-bar-color: var(--background-color);
    --progress-indicator-color: #eee;
    --track-title-color: #333;
    /* button backgrounds */
    --play-button: url(https://raw.githubusercontent.com/vexx32/audioplayer/main/tumblr/neoma/play.png) top left/contain;
    --pause-button: url(https://raw.githubusercontent.com/vexx32/audioplayer/main/tumblr/neoma/pause.png) top left/contain;
    --previous-button: url(https://raw.githubusercontent.com/vexx32/audioplayer/main/tumblr/neoma/previous.png) top left/contain;
    --next-button: url(https://raw.githubusercontent.com/vexx32/audioplayer/main/tumblr/neoma/next.png) top left/contain;
    --loop-button-off: url(https://raw.githubusercontent.com/vexx32/audioplayer/main/tumblr/neoma/loop-off.png) top left/contain;
    --loop-button-on: url(https://raw.githubusercontent.com/vexx32/audioplayer/main/tumblr/neoma/loop-on.png) top left/contain;
    --playlist-button: url(https://raw.githubusercontent.com/vexx32/audioplayer/main/tumblr/neoma/playlist.png) top left/contain;
}

.player-container .player .play-list .play-list-popout {
    position: fixed;
    bottom: 2rem;
}